
{% extends './base.html' %}
{% block titulo %}
Login
{% endblock %}
{% block contenido %}


    <section></br></br></br></br></br>

        <div align="center">

          <div align="center" class="border">

            <div>
                <h1>Login</h1>
            </div></br></br></br>

            <div>

                <form action="{{ url_for('login') }}" method="post">

                  <div class="msg">{{ msg }}</div>

                    <input id="username" name="username" type="text" placeholder="Ingresa tu email" class="textbox"/></br></br>

                    <input id="password" name="password" type="password" placeholder="Ingresa tu Password" class="textbox"/></br></br></br>

                    <input type="submit" class="btn btn-outline-primary" value="Iniciar Sesion"></br></br>

                </form>

            </div>

            <p class="bottom">No tenes cuenta? &nbsp<a class="bottom" href="{{url_for('register')}}"> Registrate aca</a></p>

          </div>

        </div>

      </section>


{% endblock %}