{% extends './base.html' %}
{% block titulo %}
Perfil
{% endblock %}
{% block contenido %}
 



    <section></br></br></br></br></br>

        <div align="center">
        <div align="center" class="border">
            <div>
                <h1>Perfil del Usuario</h1>
                </div></br></br></br>
                    <p>
                        Hola {{session.nombre}} {{session.apellido}}</br>
                        </br>                    
                        Usuario: {{session.username}}</br>
                    </p></br></br></br>
                    <a href="{{ url_for('articulos') }}" class="btn btn-outline-primary">Administrar Articulos</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Logout</a>
            </div>
        </div>

    </section>



{% endblock %}